/* line 4, ../sass/ie8.scss */
h1.entry-title {
  font-size: 50px; }

/* line 8, ../sass/ie8.scss */
body {
  width: 940px;
  padding: 20px 10px 10px 10px;
  background: white;
  margin-top: 0px; }

/* line 16, ../sass/ie8.scss */
.site {
  margin-top: 0px;
  max-width: 960px;
  padding-left: 0px;
  padding-right: 0px; }

/* line 23, ../sass/ie8.scss */
#content {
  width: 940px; }

/* line 27, ../sass/ie8.scss */
.grid-wrapper {
  width: 960px;
  margin-left: -20px;
  margin-top: 0px;
  padding-top: 0px; }

/* line 35, ../sass/ie8.scss */
.site-title a {
  color: #EC145B;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 60px; }

/* line 42, ../sass/ie8.scss */
.desk-five-twelfths {
  width: 380px;
  padding-left: 20px; }

/* line 47, ../sass/ie8.scss */
.desk-seven-twelfths {
  width: 540px;
  padding-left: 0px; }

/* line 52, ../sass/ie8.scss */
.desk-three-quarters {
  width: 720px; }

/* line 57, ../sass/ie8.scss */
.desk-one-third {
  width: 233px; }

/* line 61, ../sass/ie8.scss */
.desk-one-quarter {
  width: 220px;
  padding-left: 20px; }

/* line 66, ../sass/ie8.scss */
.desk-one-half {
  width: 350px; }
  /* line 69, ../sass/ie8.scss */
  .desk-one-half h3 {
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 25px;
    line-height: 1.5em; }
  /* line 77, ../sass/ie8.scss */
  .desk-one-half a {
    margin-bottom: 0px;
    display: inline-block;
    padding-bottom: 20px; }
  /* line 83, ../sass/ie8.scss */
  .desk-one-half p {
    margin-bottom: 0px; }

/* line 88, ../sass/ie8.scss */
.hero {
  background-image: url("images/hero-bg.png");
  -moz-background-size: 100% auto;
  /* Old Firefox */
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 50px 70px 0px;
  text-align: center;
  min-height: 280px;
  width: 700px; }
  /* line 99, ../sass/ie8.scss */
  .hero ul {
    list-style-image: url("images/bullet.png");
    list-style-position: inside;
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 300;
    padding-left: 0px; }
  /* line 110, ../sass/ie8.scss */
  .hero li {
    margin-bottom: 0; }

/* line 116, ../sass/ie8.scss */
.entry-meta-holder {
  line-height: 1.5em; }
