/*------------------------------------*\
$TYPOGRAPHY
\*------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    font-weight:300;
}

a { 
	color: $brand-color; 
	text-decoration: none; 
}

p { 
	@include font-size(17px); 
	padding: 0 10px;
	margin-bottom:1.25em;

	@include media-query(lap){
        @include font-size(14px); 
        margin-bottom:15px;
        padding:0 3px;
        }
        
    @include media-query(palm){
        @include font-size(19px); 
        line-height:28px;
        padding:0 15px;
        text-align:left;
        }	
}

.understand p, .design p, .code p{ /* Homepage paragraph columns */

	padding: 0 15px;

	@include media-query(lap){
        @include font-size(13px); 
        line-height:20px;
        padding:0px;
    }
	
}

p.media__body{
	padding-left:0;
	
		@include media-query(palm){
        padding:0 15px;
        }	
}


p.comment-notes{
	@include font-size(14px); 	
}


p.form-allowed-tags {
	display:none;
}


h1 {
	@include font-size(52px); 
	font-weight:400;
	margin-bottom: $gutter;
	
		@include media-query(lap){ 
			@include font-size(38px);
			margin-bottom:10px; 
		}	
		@include media-query(palm){
        	@include font-size(34px);
        	margin-top:15px;
        	margin-bottom:40px;
        }
    
}

.home h1 {

	@include media-query(palm){
        	margin-top:0px;
        	margin-bottom:20px;
        }	
}

.category-blog h1 {
	@include font-size(32px);
	line-height:32px;
	
		@include media-query(palm){
        		margin-bottom:0px;
        		@include font-size(26px);
        		padding:0px 15px;
        		text-align:left;
        }
}


h2.archive-title { /* Blog category title */
	@include font-size(52px); 
	font-weight:400;
	
		@include media-query(lap){ 
			@include font-size(38px);
		}	
		@include media-query(palm){
        	@include font-size(34px);
        }

}



h3 {@include font-size(27px);
	font-weight:400;
	color:$brand-color;
	margin-top:$gutter_half; 
	margin-bottom:$gutter_half;
	
		@include media-query(lap){ 
			@include font-size(23px); 
		}
	}
	
	
.media h3 {	margin-top:0; 
			margin-bottom:0;
			
				@include media-query(lap){ 
					margin-bottom:$gutter_half; 
		}			
			}
	
	
	.hire h3 {
	@include single-text-shadow; /* Settings declared in Vars, Compass include feature */
	@include font-size(40px);
	font-family: $brand-logo-face; 
	color:$white; 
	background: $brand-color; 
	padding:$gutter_half $gutter; 
	@include border-radius; 
	margin-top:-$gutter_half;
		
		@include media-query(lap){
        	@include font-size(29px); 
        	line-height:34px;
        }
        @include media-query(palm){
        	padding:$gutter $gutter_half;
        	margin-top:$gutter;
        	margin-bottom:$gutter;
        }
	}

h3#reply-title {

	@include font-size(22px);
	margin-top:60px;
	
}
	
	
h4 {@include font-size(24px);
	line-height:32px;
	color: $greyscale-35;
	margin-top:8px; 
	margin-bottom:8px;
	
		@include media-query(lap){ 
			@include font-size(18px); 
			line-height:23px;
		}
		
		@include media-query(palm){
	    		text-align:left; 	    				
	    		}
	}
	
	.media h4{
			color:$greyscale-60;
			
				@include media-query(palm){
					text-align:left;
					padding: 0 15px;
					}
		}
		

.site-title { 
	@include font-size(62px);
	@include single-text-shadow; /* Settings declared in Vars, Compass include feature */
	font-family: $brand-logo-face;
	
	a { color: $brand-color; 
		&:hover { color: $brand-color; 
		text-decoration:none; 
		}
	}
	@include media-query(palm){
        @include font-size(41px);
        text-align:center;
        margin-top:20px;
        }
    @include media-query(lap){
        @include font-size(46px);
        }	
}


.site_tagline { 
	@include font-size(16px);
	color: #888; 
}


.side_menu { 
	@include font-size(13px); 
}

